:root {
  --font-family: "Staatliches", sans-serif;
  --second-family: "Francois One", sans-serif;
  --third-family: "PT Sans", sans-serif;
  --font3: "Farro", sans-serif;
  --font4: "Tourney", sans-serif;
  --font5: "Roboto", sans-serif;
  --logo-gray-bg: #e6e6e6;
  --logo-black-bg: #1a1a1a;

}


body {
  padding: 12px 0px;
  max-width: 100%;
  height: auto;
  box-sizing: border-box;


  .container {
    max-width: 1200px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    box-sizing: border-box;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  position: sticky;
  z-index: 1000;
  top: 0;
  left: auto;
  background: #fff;

  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;

    a {
      font-family: var(--font4);
      font-weight: 600;
      font-size: 22px;
      text-decoration: none;
      color: #000;
      letter-spacing: 0.06em;
      padding-right: 50px;
    }

    p {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      font-family: var(--font-family);
      font-size: 20px;
      color: #000;
      margin: 0;
      flex-shrink: 1;
      margin-right: auto;

    }

    img {
      width: 150px;
      height: auto;
      z-index: 0;
    }
  }
}


.display {
  display: flex;
  justify-content: flex-start;
  gap: 30px;

}

.menu {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 70px;
  padding: 10px;
  width: 385px;
  height: 532px;
  position: sticky;
  top: 48px;

  ul {
    padding: 0px;


    li {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: row;
      gap: 10px;

      border-bottom: 1px solid #bdbdbd;
      height: 58px;
      padding-top: 70px;

      a {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 36px;
        line-height: 133%;
        letter-spacing: 0.04em;
        text-decoration: none;
        text-transform: uppercase;
        width: 370px;
        color: #000;
        margin: 0px;
      }
    }
  }
}


.svg-container {
  position: fixed;
  width: 628px; 
  height: 760px;
  z-index: -1;
  right: 0;

  .svg{
    width: 100%;
    height: 100%;
    display: block;
  }
}


main {
  display: flex;
  flex-direction: column;
  gap: 70px;

  padding: 0px 0px 90px 0px;
  width: 785px;
  height: auto;
  padding-top: 98px;

  .introduction {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;

    width: 785px;
    height: auto;
  }

  .core-components {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;

    width: 785px;
    height: auto;
  }

  .react-fundamentals {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;

    width: 785px;
    height: auto;
  }

  .handling-text-input {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;

    width: 785px;
    height: auto;
  }

  hr {
    width: 100px;
    height: 8px;
    background: #000;
    margin: 0px;
  }

  .headind {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;


    span {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: row;
      gap: 10px;

      h2 {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 36px;
        line-height: 133%;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #000;
        margin: 0px;
      }

      h3 {
        font-family: var(--font3);
        font-weight: 300;
        letter-spacing: 0.04em;
        color: #000;
        margin: 0px;
      }
    }
  }

  p {
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 28px;
    line-height: 171%;
    color: #000;
    margin: 0px;
    text-decoration-skip-ink: none;
    line-height: 40px;
  }

  .line {
    text-decoration: underline;
  }

  .italic {
    font-style: italic;
  }

  .weight {
    font-weight: 700;
  }

  .gray-text {
    background-color: #DADADA;
  }
}